.main-nav-bar {
  border-bottom: 1px solid #292C33;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

img {
width: 100%
}


.player-cards {
  height: 85%;
  color: #222831;

}

.player-card {
  height: 90%
  color: #eeeeee;
}

.card-picture {
  height: 70%;
  width: 100%;
  border-radius: 50%;
  margin-top: 20px;
}

.game-container {
  background-color: #393E46;
  height: 900px;
  }

.game-feed {
  display: flex;
  justify-content: space-evenly;
  color: #FFF;
}

.game-feed-player {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.game-feed-comp {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

body {
background-color: #4CA9BC;
/* #e4efe7; */
/* background-color: #00ADB5 */

}

.bottom-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.attack-button {
  width: 20%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reset-button {
  width: 20%;
  padding: 10px;

}

.hp-bar {

  background-color: #4CA9BC;
  font-size: 16px;
}
